.session{
  background-color: $white;
  padding: 0.625rem 0 0;
  border: 1px solid $medium-gray;
  border-radius: 4px;
  box-shadow: 0 0 rem-calc(5) rgba(0,0,0, 0.18);
  &__header{
    padding: 0 0.9375rem;
    border-bottom: 1px solid $medium-gray;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__body{
    padding: 1rem 0.9375rem 0;
  }
  &__infos{
    .badge{
      padding: 0rem 0.5rem;
      border-radius: 50px;
    }
    p, .badge{font-size: 1.125rem;}
  }
}
