.session{
  background-color: $white;
  border: 1px solid $medium-gray;
  border-radius: 4px;
  box-shadow: 0 0 rem-calc(5) rgba(0,0,0, 0.18);
  &__header{
    padding: 0.625rem 0.9375rem;
    border-bottom: 1px solid $medium-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__name{
    h2{
      @include breakpoint(large) {
        font-size: 2rem;
      }
      margin: 0;
    }
  }
  &__controls{
    .button-group{margin-bottom: 0;}
    .dropdown-pane a{display: flex; justify-content: flex-end;}
  }
  &__body{
    padding: 1rem 0.9375rem 0;
  }
  &__infos{
    .badge{
      padding: 0rem 0.5rem;
      border-radius: 50px;
      color: white;
    }
    p, .badge{font-size: 1.125rem;}
  }
}
